/* Front page */

.app-info-manual {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: center;
    padding-right: 15px; /* This is for the .app-info-block to not have the container on the right edge */
}

.app-info-manual-item img {
    width: 100%;
    height: auto;
}

.bc-splash-caption {
    background: rgba(0, 0, 0, 0.6);
    padding: 5px !important;
    margin-left: 10vw !important;
    max-width: 50vw !important;
    min-width: max-content;
}

.vertical-nav-list-link:hover .vertical-nav-list-ref {
    /*display: inline-flex;*/
    margin-top: unset;
    /*margin-right: 20px;*/
    /*line-height: 1.4;*/
    /*padding: 0 5px;*/
    font-size: 16px !important;
    /*font-weight: unset;*/
    color: #003366;
    opacity: 60%;
    float: left !important;
    width: unset !important;
    justify-content: unset !important;

}

.vertical-nav-list li {
    width: 300px;
    margin-bottom: 5px;
}

.vertical-nav-list-link.is-selected {
    /*background: #fff;*/
    /*font-family: 'BC Sans';*/
    font-weight: 600;
    border-left: solid #FCBA19 medium;
    padding-left: 5px;
    margin-left: -8px;
}

.vertical-nav-container {
    left: 25px !important;
    right: unset !important;
    top: 150px !important;
    background: none !important;
    border: none !important;
}

.vertical-nav-list-ref {
    display: inline-flex !important;
    background: unset !important;
    color: -webkit-link;
}

.vertical-nav-list-link {
    height: unset !important;
    width: unset !important;
    border-radius: unset !important;
    background: unset !important;
    margin-bottom: 8px;
    position: absolute;
    left: unset !important;
    color: #003366;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    white-space: nowrap;

}

.bc-splash-caption > h3 {
    color: white;
    padding: 0 20px;
    font-size: 1.44rem;
}

.bc-splash-caption > h4 {
    color: white;
    text-align: right;
    max-width:50vw;
    margin: 30px 0 0 auto;
    white-space: break-spaces;
    word-wrap: break-word;
}

.app-info-block {
    min-height: 300px;
    padding: 80px 100px 140px 100px;
    background: #fff;
    border-top: 1px solid #ddd;
}

li.app-info-block-text {
    color: #555;
    font-size: 16px;
}

@media only screen and (min-width: 280px) {
    .bc-splash-caption {
        min-width: 80vw !important;
    }
}

@media only screen and (max-width: 768px) {
    .app-info-block {
        padding: 20px 10px;
    }
    .app-info-block.intro-section {
        padding: 0;
    }
}

@media only screen and (min-width: 768px) {
    .bc-splash-caption {
        min-width: 80vw !important;
        margin-left: 10vw !important;
    }

    .bc-splash-caption > h4 {
        max-width:90vw !important;
    }
    .app-info-content {
        margin-left: 300px;
        margin-right: 0;
    }
    .vertical-nav-container {
        max-width: 275px ;
        left: 5px;
    }
    ul.vertical-nav-list {
        padding-left: 10px;
    }
    .app-info-block {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media only screen and (min-width: 992px) {
    .bc-splash-caption > h4 {
        max-width:75vw !important;
        padding-left: 25vw;
    }

    .app-info-block {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media only screen and (min-width: 1200px) {
    .app-info-content {
        margin-left: 350px;
        margin-right: 150px;
    }
    .app-info-block {
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media only screen and (min-width: 1366px) {
    .app-info-content {
        margin-left: 350px;
        margin-right: 350px;
    }
}

.info-section {
    background: #F2F2F2;
    border-left: #38598A 10px solid;
    padding: 5px 0 20px 15px;
    margin-bottom: 20px;
}

.splash-img {
    padding: 0;
}

.splash-img > img {
    width: 100%;
}

.splash-img > figcaption {
    text-align: left;
    /*font-family: 'BC Sans';*/
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    /*line-height: 19px;*/
    /* identical to box height */
    /*color: #000000;*/
}

.slide-img-container {
    top: 100px;
    max-height: 100vh;
    width: 100vw;
    overflow-y: clip;
}
.slide-caption {
    max-width: 70vw;
    padding-left: 30px;
}

.slide-img-attribution {
    font-size: .8rem !important;
}

.home-slider img {
    height: 100vh !important;
    min-width: 100vw !important;
    overflow: clip;
}

.home-slider .slick-autoplay-toggle-button {
    color: #fff;
    bottom: 10px;
}

.home-slider .slick-prev > i, .home-slider .slick-next > i {
    color: #fff !important;
}

.home-slider .slick-prev {
    left: 1.5rem;
}

.home-slider .slick-next {
    right: 1.5rem;
}

h3.app-info-block-title {
    /* What are Historic Places? */
    /* H500

    24/36
    */
    /*font-family: 'BC Sans';*/
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 30px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;

    /* Emphasis - strong */
    color: #204371;
}

h4.app-info-block-title {
    font-style: italic;
    /*font-weight: 700;*/
    font-size: 20px;
    line-height: 36px;
    margin-bottom: 10px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;

    /* Emphasis - strong */
    color: #204371;
}

.info-body {
    margin-bottom: 40px;
}

.info-body .app-info-block-title {
    color: black;
}

.navbar-brand-v5-icon {
    height: 50px !important;
}

.nav-brand-container h1 {
    color: white;
    font-size: 24px;
}

.navbar-nav > li > a {
    font-size: 1.1em;
    font-weight: 400;
    padding: 18px 26px;
}


.feedback-bar {
    background: #FCBA19;
    min-height: 22px;
    text-align: center;
    font-size: 1.1em;
}


footer {
    background-color: #036 !important;
    border-top: 2px solid #fcba19;
    color: #fff !important;
    font-family: ‘BCSans’, ‘Noto Sans’, Verdana, Arial, sans-serif;
    text-align: center;
    padding: 0 !important;
}

.arches_footer {
    /* First Footer */
    background: #0F2D4F;
    display: flex;
    padding: 5px 0;
    width: 100%;
}

.arches_link {
    margin-right: 5px;
    margin-left: auto;
}
.arches_logo {
    max-height: 25px;
    /*position: relative;*/
    /*display: flex;*/
    /*float: right;*/
    /*padding: 3px;*/
}

footer .container {
    display: flex;
    justify-content: center;
    /*flex-direction: column;*/
    text-align: center;
    height: 46px;
    align-items: center;
}

footer ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    color: #fff;
    list-style: none;
    align-items: center;
    height: 100%;
}

footer ul li a {
    font-size: 0.813em;
    font-weight: normal;  /* 400 */
    color: #fff;
    border-right: 1px solid #4b5e7e;
    padding-left: 5px;
    padding-right: 5px;
}

a:hover {
    color: #fff;
    text-decoration: underline;
}

:focus {
    outline: 4px solid #3B99FC;
    outline-offset: 1px;
}

/* iPhone 13 */
@media only screen and (max-width: 1284px) {
    /* Override from details page */
    .slick-arrow {
        background: none !important;
    }

    .home-slider .slick-prev {
        left: .5rem;
    }

    .home-slider .slick-next {
        right: .5rem;
    }

    .arches_logo {
        max-height: 15px;
    }

    .footer ul {
        padding-inline-start: 0;
    }
}

@media (max-width: 510px) {
    .nav-brand-container h1 {
        max-width: 22ch;
        font-size: 0.8em;
        line-height: 1.1em;
    }
}

@media (max-width: 400px) {
    .nav-brand-container h1 {
        max-width: 16ch;
        font-size: 0.6em;
        line-height: 1.5em;
    }
}

@media (max-width: 320px) {
    .nav-brand-container h1 {
        max-width: 16ch;
    }
}
