@font-face {
    font-family: 'BCSans';
    font-style: normal;
    src: url('../fonts/BCSans/BCSans-Regular.woff2') format('woff2'), /* Optimized for very modern browsers */
    url('../fonts/BCSans/BCSans-Regular.woff') format('woff'); /* Modern Browsers */
}
@font-face {
    font-family: 'BCSans';
    font-style: italic;
    src: url('../fonts/BCSans/BCSans-Italic.woff2') format('woff2'), /* Optimized for very modern browsers */
    url('../fonts/BCSans/BCSans-Italic.woff') format('woff'); /* Modern Browsers */
}
@font-face {
    font-family: 'BCSans';
    font-weight: 700;
    src: url('../fonts/BCSans/BCSans-Bold.woff2') format('woff2'), /* Optimized for very modern browsers */
    url('../fonts/BCSans/BCSans-Bold.woff') format('woff'); /* Modern Browsers */
}
@font-face {
    font-family: 'BCSans';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/BCSans/BCSans-BoldItalic.woff2') format('woff2'), /* Optimized for very modern browsers */
    url('../fonts/BCSans/BCSans-BoldItalic.woff') format('woff'); /* Modern Browsers */
}

#main-content
{
    overflow: scroll;
}

body, h1, h2, h3, h4, h5
{
    font-family: 'BCSans', 'Open Sans', 'Noto Sans', Verdana, Arial, sans-serif !important;
}

.hover-feature-nav-right + .hover-feature-title {
    width: 100%;
}

.hover-feature-expand {
    text-align: right;
}

.workbench-card-sidepanel-body {
    height: 100%;
}

.search-listing-body {
    overflow-y: scroll;
    height: unset !important;
    min-height: 4.6em !important;
    max-height: 8em !important;
    -webkit-line-clamp: unset;
}

.bc-report-title {
    display: inline-block;
    vertical-align: top;
}

.ep-graph-title-icon {
    vertical-align: top;
}
.ep-graph-title {
    font-size: 1.4em;
}
.jstree-anchor {
    height: 100% !important;
}

/**********************************/
/* Search and map popup cards     */
/**********************************/
.search-listing-body > dt, .hover-feature > dt {
    padding-top: 5px;
}

/* Don't pad bottom of rich text fields in search card*/
.search-listing-body > dd > p, .hover-feature > dd > p {
    margin-bottom: 0;
}
/**********************************/
/* End Search and map popup cards */
/**********************************/



/* Rules for BCRHP Details panel */
table.bc-summary-table td {
    vertical-align: top;
}

.bcrhp-grid-container, .bc-grid-container {
    display: grid;
    /*width: 75%;*/
    grid-template-columns: 33% 33% 33%;
    vertical-align: top;
}

.bc-inline {
    display: inline-block;
}

.hide-section {
    display: none;
}

.grid-col-1 {
    grid-column-start: 1;
}

.grid-col-2 {
    grid-column-start: 2;
}

.grid-col-3 {
    grid-column-start: 3;
}

.grid-row-1 {
    grid-row-start: 1;
    grid-auto-rows: minmax(min-content, max-content);
}

.grid-row-2 {
    grid-row-start: 2;
    grid-auto-rows: minmax(min-content, max-content);
}

.grid-row-3 {
    grid-row-start: 3;
    grid-auto-rows: minmax(min-content, max-content);
}

.rp-image-grid-item
{
    max-width: unset;
}

.bcrhp-full-width-grid-item,
.bc-full-width-grid-item
{
    grid-column: 1 / span 3;
}

.bc-top-offset {
    padding-top: 25px;
}

.bc-details-images {
    float: right;
    margin-right: 25px;
    grid-column-start: 3;
    grid-row: 1 / span 8;
}

.bc-top-offset {
    padding-top: 50px;
}

.bc-details-images {
    float: right;
    margin-right: 25px;
}

.card-help-panel dl dt {
    float: left;
    margin-right: 5px;
}

.card-help-panel dl > dl {
    margin-left: 20px;
    margin-top: 20px;
}

.dl-horizontal {
    width: 100%;
}

.dl-horizontal dt, .dl-horizontal dd {
    vertical-align: top;
    display: inline-block;
    padding: 2px 5px 2px 20px;
    align-items: start;
    justify-content: left;
}

.details-icons {
    display: flex;
    gap: 12px;
    justify-content: right;
    padding: 14px 0;
}

.details-card-section .dl-horizontal dt {
    width: 200px;
    overflow: visible !important;
}

.details-card-section .dl-horizontal dd {
    width: calc(100% - 210px);
}

.rp-card-section .rp-report-tile .dl-horizontal dd {
    padding-top: 2px;
    padding-bottom: 2px;
}
hr {
    margin: 10px 0;
}

.rp-card-section {
    margin: 5px 20px;
}

.form-boolean-checkbox span {
    width: auto !important;
}

.bc-subsection-header {
    margin-top: 10px;
    text-decoration: underline;
}



@media (min-width: 1366px)
{
    .dl-horizontal {
    }

    .bcrhp-full-width-grid-item dd,
    .bc-full-width-grid-item dd {
        width: 80%
    }

    div.bcrhp-grid-item .dl-horizontal dt,
    div.bc-grid-item .dl-horizontal dt {
        /*width: 170px !important;*/
    }

    div.bcrhp-grid-item .dl-horizontal dd,
    div.bc-grid-item .dl-horizontal dd
    {
        width: 70%;
    }

    .bc-details-images {
        margin-right: 25px;
    }
}

@media (min-width: 768px)
{
    .dl-horizontal {
    }

    div.bcrhp-grid-item .dl-horizontal dd,
    div.bc-grid-item .dl-horizontal dd
    {
        /*margin-left: 170px !important;*/
        width: 70%;
    }

    div.bcrhp-grid-item .dl-horizontal dt,
    div.bc-grid-item .dl-horizontal dt
    {
        /*width: 130px !important;*/
    }
    .bc-details-images {
        margin-right: 5px;
    }

}

.rp-card-section {
    padding-bottom: 0;
}

#photo-overlay {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2000; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

figure.bc-full-screen-image
{
    position: fixed;
    display: block;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    top: 50%;
    max-height: 80%;
    max-width: 80%;
}

figure.bc-full-screen-image > figcaption
{
    color: #000;
    background: #bbb;
}

img.bc-details-image
{
    cursor: pointer;
}

.hover-feature-metadata {
    display: none;
}
/* Map Popup classes */

.bc-popup-entry
{
    margin-bottom: 1px;
    overflow: auto;
}

.bc-popup-label, .bc-popup-value
{
    display: inline-block;
    vertical-align: top;
}

.bc-popup-label
{
    min-width: 105px;
}

.bc-popup-value
{
    font-weight: 800;
    margin-left: 10px;
}

@media only screen and (min-width: 600px) {
    .print-only {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
}

@media only screen and (max-width: 1024px) {
    .data-carousel.details-site-images {
        max-width: 100% !important;
    }

    .details-site-images .slick-arrow {
        background: rgba(255,255,255,0.8) !important;
        border-radius: 100%;
        height: 40px !important;
        width: 40px !important;
    }

    .details-site-images .slick-next {
        right: 8px !important;
    }

    .details-site-images .slick-prev {
        left: 8px !important;
    }

    .details-site-images .slick-slide {
        max-width: 80vw;
    }

    .details-site-images .slick-slide img {
        align-self: center;
        height: auto !important;
        max-width: 80vw;
    }

    .details-site-images .slick-slide .photo-info {
        align-self: end;
    }

    .details-site-images .details-carousel {
        display: grid !important;
        grid-template-rows: 4fr 1fr;
        justify-items: center;
        min-height: 50vh;
    }

    .dl-horizontal dd {
        display: block;
        width: auto !important;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

@media (min-width: 1824px) {
    .editor-report .bc-columns-report
    {
        column-count: unset !important;
    }

    .bc-columns-report {
        padding: 0 60px;
        column-count: 2;
        column-rule: solid 1px lightgrey;
    }

    .rp-card-section {
        break-inside: avoid-column;
    }
}

@media only print {
    @page {
        size: letter;
    }

    /*html, body {*/
    /*    height: 99%;*/
    /*}*/

    /* From arches but doesn't set it to important */
    .print-hide {
        display: none !important;
        height: 0 !important;
    }

    .hide-section {
        display: block;
    }

    /* Hide unwanted parts of the page */
    section.search-results-panel, .search-toolbar, #skip-link-holder {
        display: none !important;
    }

    /* Align the date on the RHS next to the name of the site*/
    .ep-form-toolbar-tools {
        float: right !important;
    }

    h4.report-toolbar-title {
        display: inline-block;
    }

    .report-print-date {
        padding-top: 14px;
    }

    /* Force the content to be visible on pages 2++ */
    #container, #main-content {
        overflow: visible !important;
        display: block;
        height: 100%;
    }

    .rp-report-section, .rp-report-section-root, .resource-report-abstract-container, .content-panel, .flex, .ep-form-toolbar {
        display: block !important;
    }

    .bcrhp-grid-container, .bc-grid-container {
        display: block;
        vertical-align: top;
    }

    .grid-col-1,
    .grid-col-2,
    .grid-col-3 {
        display: inline-block !important;
        width: 33% !important;
    }

    .base-manager-grid
    {
        display: block !important;
    }

    .grid-row-1,
    .grid-row-2,
    .grid-row-3 {
        display: inline-block !important;
    }

    .bcrhp-full-width-grid-item,
    .bc-full-width-grid-item
    {
        width: 100% !important;
        grid-column: unset !important;
    }

    .new-page {
        page-break-before: always;
        break-before: page;
    }

    div {
        break-before: auto;
    }

    #map-widget-container > .map-widget-container, .mapboxgl-map {
        display: block !important;
    }

    .details-icons {
        display: none;
    }

    #sos_section > div {
        display: block !important;
    }

    dt {
        color: black !important;
        text-decoration: none;
    }

    dd {
        clear: none !important;
    }

    /* For displaying long-form text blocks as full width of the page,
     * some elements are within components and not easy to modify but do have
     * an id that can be queried.
     */
    dd[data-bind*="addressPart"],
    dd[data-bind*="physical_description"],
    dd[data-bind*="heritage_value"],
    dd[data-bind*="defining_elements"] {
        width: auto !important;
        display: block !important;
    }

    .data-carousel {
        max-width: 100vw !important;
    }

    .data-carousel button,
    .data-carousel .slick-dots {
        display: none !important;
    }

    .data-carousel .slick-track {
        display: flex;
        transform: unset !important;
        width: 100% !important;
        justify-content: center;
    }

    .data-carousel .slick-slide {
        display: none !important;
    }

    .data-carousel .slick-slide:first-child {
        display: block !important;
        float: none !important;
    }
}
