{% extends "views/components/widgets/base.htm" %}
{% load i18n %}

{% block form %}
<div class="row widget-wrapper">
    <div class="form-group">
        <!-- ko if: node -->
        <i data-bind="css: {'ion-asterisk widget-label-required': node.isrequired}"></i>
        <!-- /ko -->
        <div class="col-xs-12">
            <label class="form-checkbox form-normal form-primary form-text form-boolean-checkbox"
                data-bind="css: {
                    'active': isSelected(),
                    'disabled': $parent.disabled
                },
                click: toggleSelected">
                <input type="checkbox" data-bind="checked: isSelected()"><span data-bind="text: node.config.trueLabel"></span>
            </label>
        </div>
    </div>
</div>
{% endblock form %}

{% block config_form %}
<div>
    <div class="form-group">
        <div class="col-xs-12">
            <label class="form-checkbox form-normal form-primary form-text form-boolean-checkbox"
                data-bind="css: {
                    'active': isSelected()
                },
                click: toggleSelected">
                <input type="checkbox" data-bind="checked: node.config.defaultValue"><span data-bind="text: node.config.trueLabel"></span>
            </label>
        </div>
    </div>
</div>

{% endblock config_form %}

{% block report %}
<!-- ko if: ko.unwrap(value) === true -->
<!--dt data-bind="text: label"></dt-->
<dd data-bind="text: displayValue() || $root.translations.none"></dd>
<!-- /ko -->
{% endblock report %}
