.site-provincial {
    background: rgba(165,0,38,.5);
    border-color: rgba(165,0,38,1);
}

.site-federal {
    background: rgba(244,109,67,.5);
    border-color: rgba(244,109,67,1);
}

.site-municipal {
    background: rgba(254,224,144,.5);
    border-color: rgba(254,224,144,1);
}
