.data-carousel .slick-dots {
    position: static;
    margin-top: 0;
}

.details-carousel > img {
    margin-left: auto;
    margin-right: auto;
}

button.info-button {
    color: #315B7D;
    padding-left: 3px;
    background: none;
    border: none;
    cursor: help;
}

.external-urls a {
    color: #315B7D;
}

.external-urls a:hover {
    text-decoration: underline;
}

.street_address, .city, .province, .address_separator {
    font-size: 1.4rem;
}
