*.pyc
*.log
arches_bchp/logs
arches_bchp/management/data/*
arches_bchp/export_deliverables
arches_bchp/cantaloupe/*
arches_bchp/media/packages
arches_bchp/uploadedfiles/*
arches_bchp/settings_local.py
.vscode/
CACHE