*.pyc
*.log
arches_bchp/logs
arches_bchp/management/data/*
arches_bchp/export_deliverables
arches_bchp/cantaloupe/*
arches_bchp/media/packages
arches_bchp/uploadedfiles/*
arches_bchp/settings_local.py
arches_bchp/staticfiles
arches_bchp/webpack/webpack-stats.json
arches_bchp/webpack/webpack-user-config.js
node_modules
.vscode/
CACHE