@import "project_common.css";
@import "map_legend.css";

/* Details tab rules */
dl.geological-age > dd > div,
dl.stratigraphy > dd > div.stratigraphy-level > div
{
   display: inline-block;
}

.publication-identifier-type::before {
   content: "(";
}

.publication-identifier-type::after {
   content: ")";
}

.publication-identifier-type {
   color: rgb(120,120,120);
   font-style: italic;
}

