@import "map_legend.css";
@import url("node_modules/bcgov_arches_common/bcgov_arches_common/media/css/project.css");
/* Index page */
.tp-caption {
   left: 0 !important;
}

.bc-full-height-image {
   height: 100vh !important;
}

/* Details tab rules */
dl.geological-age > dd > div,
dl.stratigraphy > dd > div.stratigraphy-level > div
{
   display: inline-block;
}

.card_component.scientific_name, .card_component.fossil_common_name  {
   display: inline-block;
   max-width: 70%;
   min-width: 650px;
}

.card_component.new_species, .card_component.common_name_uncertain {
   display: inline-block;
   max-width: 29%;
   vertical-align: bottom;
   padding-bottom: 17px;
}

.card_component.journal_or_volume_name, .card_component.other_journal_or_volume_name,
.card_component.project_start_date, .card_component.project_end_date {
   display: inline-block;
   width: 49%;
   vertical-align: top;
}

.row.journal_or_volume_name span.control-label {
   margin-bottom: 10px;
}

.publication-identifier-type::before {
   content: "(";
}

.publication-identifier-type::after {
   content: ")";
}

.publication-identifier-type {
   color: rgb(120,120,120);
   font-style: italic;
}


.bc-details-tab dt {
   width: 300px !important;
}

.empty-section {
   color: lightgray !important;
   font-style: italic;
}