{% extends "views/components/widgets/base.htm" %}
{% load i18n %}

{% block display_value %}
  <!-- ko let: {widget: streetNumber()} -->
  <div>
  <span data-bind="component: {
                                            name: streetNumber().widgetLookup[streetNumber().widget_id()].name,
                                            params: {
                                                tile: tile(),
                                                node: streetNumber().node,
                                                config: streetNumber().config,
                                                label: streetNumber().label(),
                                                value: tile().data[streetNumber().attributes.node_id()],
                                                state: 'display_value',
                                            }
                                        }, click: function(){console.log(card);}">
    </span>
  <span data-bind="component: {
                                            name: streetName().widgetLookup[streetName().widget_id()].name,
                                            params: {
                                                tile: tile(),
                                                node: streetName().node,
                                                config: streetName().config,
                                                label: streetName().label(),
                                                value: tile().data[streetName().attributes.node_id()],
                                                state: 'display_value',
                                            }
                                        }, click: function(){console.log(card);}">
    </span>
  </div>
  <div>
  <span data-bind="component: {
                                            name: city().widgetLookup[city().widget_id()].name,
                                            params: {
                                                tile: tile(),
                                                node: city().node,
                                                config: city().config,
                                                label: city().label(),
                                                value: tile().data[city().attributes.node_id()],
                                                state: 'display_value',
                                            }
                                        }, click: function(){console.log(card);}">
    </span>,
    <span data-bind="component: {
                                            name: province().widgetLookup[province().widget_id()].name,
                                            params: {
                                                tile: tile(),
                                                node: province().node,
                                                config: province().config,
                                                label: province().label(),
                                                value: tile().data[province().attributes.node_id()],
                                                state: 'display_value',
                                            }
                                        }, click: function(){console.log(card);}">
    </span>
  </div>
    <!-- /ko -->
    {% endblock display_value %}
