/*****************/
/* Map Legends   */
/*****************/

/* Bedrock */
img.bedrock-intrusive {
    background: rgba(246,239,247,0.3);
    border-color: rgba(246,239,247,1);
}

img.bedrock-metamorphic {
    background: rgba(189,201,225, 0.3);
    border-color: rgba(246,239,247,1);
}

img.bedrock-sedimentary {
    background: rgba(103,169,207, 0.4);
    border-color: rgba(103,169,207,1);
}

img.bedrock-ultramafic {
    background: rgba(28,144,153, 0.3);
    border-color: rgba(28,144,153, 1);
}

img.bedrock-volcanic {
    background: rgba(1,108,89, 0.3);
    border-color: rgba(1,108,89, 1);
}

/* Cadastral ParcelMap */
img.cadastral {
    background: rgb(118, 42, 131);
}


/* FRPC */
img.frpc-high {
    background: rgba(136,65,157,0.6);
    border-color: rgba(136,65,157,1);
}
img.frpc-medium {
    background: rgba(140,150,198,0.6);
    border-color: rgba(140,150,198,1);
}

img.frpc-low {
    background: rgba(179,205,227,0.6);
    border-color: rgba(179,205,227,1);
}

img.frpc-very-low {
    background: rgba(237,248,251,0.6);
    border-color: rgba(237,248,251,1);
}

/* FRPC Overburden */
img.frpc_ovb-high {
    background: rgba(82,82,82,.2);
    border-color: rgba(82,82,82,1);
}

img.frpc_ovb-medium {
    background: rgba(150,150,150,.2);
    border-color: rgba(150,150,150,1);
}

img.frpc_ovb-low {
    background: rgba(204,204,204,.2);
    border-color: rgba(204,204,204,1);
}

img.frpc_ovb-very-low {
    background: rgba(247,247,247,.2);
    border-color: rgba(247,247,247,1);
}

/* Lakes */
img.lakes {
    background: rgba(116,173,209, .3);
    border-color: rgba(116,173,209, 1);
}

/* Municipal Boundaries */
img.municipal-boundaries {
    background: rgba(0, 0, 0, 1);
    border-style: dashed;
    width: 8px;
    margin-right: 8px;
}

/* Municipal Parks */
img.parks-municipal {
    background: rgba(217,240,211, 0.3);
    border-color: rgba(117, 128, 102, 1);
}

/* National Parks */
img.parks-national {
    background: rgba(27,120,55, 0.4);
    border-color: rgba(27,120,55, 1);
}

/* Provincial Parks, Protected Areas and Ecological Reserves */
img.parks-protected-area {
    background: rgba(166,219,160, 0.3);
    border-color: rgba(117, 128, 102, 1);
}

img.parks-provincial {
    background: rgba(90,174,97, 0.3);
    border-color: rgba(117, 128, 102, 1);
}

img.parks-ecological-reserve {
    background: rgba(27,120,55, 0.3);
    border-color: rgba(117, 128, 102, 1);
}

/* Provinces and States */
img.province-state {
    background: rgb(102,136,102);
    border-width: 2px;
}

/* Regional Districts */
img.regional-district-boundaries {
    background: black;
    width: 6px;
    margin-right: 6px;
}

/* Rivers */
img.rivers {
    background: rgba(204, 255, 255, 0.5);
    border-color: rgba(98, 206, 217, 1);
}

/* Streams */
img.streams {
    background: rgba(90,209,230, 1);
    width: 10px;
}

/* TRIM Contours */
img.trim-contours-100 {
    background: rgba(130,130,130, 1);
    width: 10px;
    height: 1px;
}

img.trim-contours-20 {
    background: rgba(130,130,130, 0.5);
    width: 10px;
    height: 1px;
}

/* TRIM Waterlines */
img.trim-waterlines {
    background: rgba(98, 206, 217, 1);
    width: 10px;
}
