/*****************/
/* Map Legends   */
/*****************/

/* Bedrock */
img.bedrock-intrusive {
    background: rgba(246,239,247,0.3);
    border-color: rgba(246,239,247,1);
}

img.bedrock-metamorphic {
    background: rgba(189,201,225, 0.3);
    border-color: rgba(246,239,247,1);
}

img.bedrock-sedimentary {
    background: rgba(103,169,207, 0.4);
    border-color: rgba(103,169,207,1);
}

img.bedrock-ultramafic {
    background: rgba(28,144,153, 0.3);
    border-color: rgba(28,144,153, 1);
}

img.bedrock-volcanic {
    background: rgba(1,108,89, 0.3);
    border-color: rgba(1,108,89, 1);
}

/* Cadastral ParcelMap */
img.cadastral {
    background: rgb(118, 42, 131);
}


/* FRPC */
img.frpc-high {
    background: rgba(136,65,157,0.6);
    border-color: rgba(136,65,157,1);
}
img.frpc-medium {
    background: rgba(140,150,198,0.6);
    border-color: rgba(140,150,198,1);
}

img.frpc-low {
    background: rgba(179,205,227,0.6);
    border-color: rgba(179,205,227,1);
}

img.frpc-very-low {
    background: rgba(237,248,251,0.6);
    border-color: rgba(237,248,251,1);
}

/* FRPC Overburden */
img.frpc_ovb-high {
    background: rgba(82,82,82,.2);
    border-color: rgba(82,82,82,1);
}
img.frpc_ovb-medium {
    background: rgba(150,150,150,.2);
    border-color: rgba(150,150,150,1);
}

img.frpc_ovb-low {
    background: rgba(204,204,204,.2);
    border-color: rgba(204,204,204,1);
}

img.frpc_ovb-very-low {
    background: rgba(247,247,247,.2);
    border-color: rgba(247,247,247,1);
}

