@import "project_common.css";

/* Map Legend definitions  Moved to common */
/*
.legend-listing {
    padding-top: 5px;
    padding-bottom: 5px;
}

.legend-listing .legend-content {
    padding-top: 5px;
}

.layer-listing-icon::before {
    width: 20px;
    height: 20px;
}

img.legend-swatch {
    border-style:solid;
    border-width:1px;
    height:10px;
    margin:0 5px;
    width:10px;
}
 */

img.frpc-high {
    background: rgba(136,65,157,0.6);
    border-color: rgba(136,65,157,1);
}
img.frpc-medium {
    background: rgba(140,150,198,0.6);
    border-color: rgba(140,150,198,1);
}

img.frpc-low {
    background: rgba(179,205,227,0.6);
    border-color: rgba(179,205,227,1);
}

img.frpc-very-low {
    background: rgba(237,248,251,0.6);
    border-color: rgba(237,248,251,1);
}