.hover-feature-nav-right + .hover-feature-title {
    width: 100%;
}

.hover-feature-expand {
    text-align: right;
}

.workbench-card-sidepanel-body {
    height: 100%;
}

.search-listing-body {
    overflow-y: scroll;
}

.bc-report-title {
    display: inline-block;
    vertical-align: top;
}

.ep-graph-title-icon {
    vertical-align: top;
}
.ep-graph-title {
    font-size: 1.4em;
}
.jstree-anchor {
    height: 100% !important;
}
