.hover-feature-nav-right + .hover-feature-title {
    width: 100%;
}

.hover-feature-expand {
    text-align: right;
}

.workbench-card-sidepanel-body {
    height: 100%;
}

.search-listing-body {
    overflow-y: scroll;
}

.bc-report-title {
    display: inline-block;
    vertical-align: top;
}

.ep-graph-title-icon {
    vertical-align: top;
}
.ep-graph-title {
    font-size: 1.4em;
}
.jstree-anchor {
    height: 100% !important;
}



/* Rules for BCRHP Details panel */
table.bc-summary-table td {
    vertical-align: top;
}

.bcrhp-grid-container {
    display: grid;
    /*width: 75%;*/
    grid-template-columns: 40% 40% 20%;
    vertical-align: top;
}

.grid-col-1 {
    grid-column-start: 1;
}

.grid-col-2 {
    grid-column-start: 2;
}

.grid-col-3 {
    grid-column-start: 3;
}

.grid-row-1 {
    grid-row-start: 1;
    grid-auto-rows: minmax(min-content, max-content);
}

.grid-row-2 {
    grid-row-start: 2;
    grid-auto-rows: minmax(min-content, max-content);
}

.grid-row-3 {
    grid-row-start: 3;
    grid-auto-rows: minmax(min-content, max-content);
}

.bcrhp-full-width-grid-item {
    grid-column: 1 / span 2;
}

.bc-top-offset {
    padding-top: 25px;
}

.bc-details-images {
    float: right;
    margin-right: 25px;
    grid-column-start: 3;
    grid-row: 1 / span 4;
}

.bc-top-offset {
    padding-top: 50px;
}

.bc-details-images {
    float: right;
    margin-right: 25px;
}

.dl-horizontal dt, .dl-horizontal dd {
    vertical-align: top;
    display: inline-block;
    padding: 5px 5px 5px 20px;
}

@media (min-width: 1366px)
{
    .dl-horizontal {
    }

    .bcrhp-full-width-grid-item dd {
        width: 80%
    }

    div.bcrhp-grid-item .dl-horizontal dt {
        width: 170px !important;
    }

    div.bcrhp-grid-item .dl-horizontal dd {
        width: 70%;
    }

    .bc-details-images {
        margin-right: 25px;
    }
}

@media (min-width: 768px)
{
    .dl-horizontal {
    }

    div.bcrhp-grid-item .dl-horizontal dd {
        /*margin-left: 170px !important;*/
        width: 70%;
    }
    div.bcrhp-grid-item .dl-horizontal dt {
        width: 130px !important;
    }
    .bc-details-images {
        margin-right: 5px;
    }

}
