{% load i18n %}

<div style="height:0px">
  <div class="row widget-container">
    <div class="form-group">
      <div class="relative">
          <label class="col-xs-12 control-label widget-input-label"> {% trans "Card Name" %}</label>
      </div>
      <div class="col-xs-12"> {% trans "This function has no configuration options. Applying this function ensures no resources
      of this type are visible to the public. Any existing resources must be set to no access manually." %}</div>
    </div>
  </div>
</div>
