*.pyc
*.log
arches_fossils/logs
arches_fossils/management/data/*
arches_fossils/export_deliverables
arches_fossils/cantaloupe/*
arches_fossils/media/packages
arches_fossils/uploadedfiles/*
arches_fossils/settings_local.py

arches_fossils/business_data/*.csv
arches_fossils/mangement/data/*.py

arches_fossils/staticfiles
arches_fossils/webpack/webpack-stats.json
arches_fossils/webpack/webpack-user-config.js
node_modules

# Files copied from arches_common
arches_fossils/media/css/project_common.css
arches_fossils/media/css/bc_index.css
.vscode/
CACHE