*.pyc
*.log
bcfms/logs
bcfms/management/data/*
bcfms/export_deliverables
bcfms/cantaloupe/*
bcfms/media/packages
bcfms/uploadedfiles/*
bcfms/settings_local.py

bcfms/business_data/*.csv
bcfms/mangement/data/test_user_list.py

bcfms/staticfiles
webpack/webpack-stats.json
node_modules

*.egg-info
.DS_STORE
.tsconfig-paths.json
.frontend-configuration-settings.json
coverage/

# Files copied from arches_common
bcfms/media/css/project_common.css
bcfms/media/css/bc_index.css
.vscode/
CACHE