*.pyc
*.log
arches_fossils/logs
arches_fossils/management/data/*
arches_fossils/export_deliverables
arches_fossils/cantaloupe/*
arches_fossils/media/packages
arches_fossils/uploadedfiles/*
arches_fossils/settings_local.py

arches_fossils/business_data/*.csv
arches_fossils/mangement/data/*.py

.vscode/
CACHE