*.pyc
*.log
bcrhp/logs
bcrhp/management/data/test_user_list.py
bcrhp/export_deliverables
bcrhp/cantaloupe/*
bcrhp/media/packages
bcrhp/uploadedfiles/*
bcrhp/settings_local.py
bcrhp/staticfiles
webpack/webpack-stats.json

*.egg-info
.DS_STORE
.tsconfig-paths.json
.frontend-configuration-settings.json
coverage/

# Common resources that are copied from arches_common
bcrhp/media/css/project_common.css
bcrhp/media/css/bc_index.css
bcrhp/media/css/map_legend_common.css
node_modules
.vscode/
CACHE