#arches
ARCHES_PROJECT=bcrhp
ARCHES_CORE_VERSION=7-5
APP_ENV={{ app_instance }}
APP_SUFFIX=-${APP_ENV}

# For Docker only
ARCHES_CONTAINER_NAME=${ARCHES_PROJECT}7-5
PROJECT_GROUP_NAME=bcgov
INSTALL_DEFAULT_GRAPHS=False
INSTALL_DEFAULT_CONCEPTS=False

# Postgres Config
PGUSERNAME={{ arches_db_user }}
PGPASSWORD={{ arches_db_password }}
PGDBNAME={{ arches_db_name }}
PGHOST={{ cd_database_host }}
PGPORT={{ cd_database_port }}

# HRIA database config
HRIADB_USER={{ hria_db.user }}
HRIADB_PASSWORD={{ hria_db.password }}
HRIADB_HOST={{ hria_db.host }}
HRIADB_PORT={{ hria_db.port }}
HRIADB_SERVICE_NAME={{ hria_db.service_name }}
HRIADB_APPLICATION_USER={{ hria_db.application_user }}

CACHE_BACKEND={{ default_cache_backend }}
CACHE_BACKEND_LOCATION={{ default_cache_backend_location }}

# Elasticsearch config
ES_SCHEME={{ es_scheme }}
ES_HOST={{ es_host }}
ES_PORT={{ es_port }}
ES_API_KEY={{ es_api_key }}
ES_CERT_FILE={{ arches_es_cert_file }}

DJANGO_MODE={{ django_mode }}
DJANGO_DEBUG={{ django_debug_mode }}
DJANGO_PORT={{ arches_server_port }}
#DJANGO_REMOTE_DEBUG=False
PYTHONUNBUFFERED=0
TZ=PST
ELASTICSEARCH_PREFIX=${ARCHES_PROJECT}_${APP_ENV}

ALLOWED_HOSTS={{ arches_allowed_hosts }}
AUTH_BYPASS_HOSTS={{ auth_bypass_hosts }}

## BCGov specific values
# Prefix when used behind a reverse proxy. Set to none if using WSGI - this is handled by FORCE_SCRIPT_NAME
# Must end with a / but have no leading /
BCGOV_PROXY_PREFIX=

# Used by webpack for data export
PUBLIC_SERVER_ADDRESS={{ arches_webpack_internal_url }}/{{ url_context_root }}

#rabbitmq
# RABBITMQ_USER=guest
# RABBITMQ_PASS=guest

# Celery
CELERY_BROKER_URL={{ celery_broker_url }}
CELERY_WORKER_NAME=${ARCHES_PROJECT}_${APP_ENV}

#cantaloupe
# CANTALOUPE_ENDPOINT_ADMIN_ENABLED=true
# CANTALOUPE_ENDPOINT_ADMIN_USERNAME=admin
# CANTALOUPE_ENDPOINT_ADMIN_SECRET=admin
# CANTALOUPE_HOST=cantaloupe_${ARCHES_PROJECT}
# CANTALOUPE_PORT=8182
# CANTALOUPE_FILESYSTEMSOURCE_BASICLOOKUPSTRATEGY_PATH_PREFIX=/imageroot/


#DJANGO KEY
DJANGO_SECRET_KEY={{ django_key }}
FORCE_SCRIPT_NAME={{ force_script_name }} #None for dev, /prefix/ when behind Apache

#S3 info
S3_ENDPOINT={{ s3_endpoint }}
S3_BUCKET={{ s3_bucket }}
S3_ACCESS_KEY_ID={{ s3_access_key_id }}
S3_SECRET_ACCESS_KEY={{ s3_secret_access_key }}
S3_PROXIES={{ proxy_env.https_proxy }}

# OAUTH/OIDC configuration
OAUTH_AUTH_ENDPOINT={{ oauth_auth_endpoint }}
OAUTH_TOKEN_ENDPOINT={{ oauth_token_endpoint }}
OAUTH_JWKS_URI={{ oauth_jwks_uri }}
OAUTH_CLIENT_ID={{ oauth_client_id }}
OAUTH_CLIENT_SECRET={{ oauth_client_secret }}

#Only for dev - this allows the app URL to be HTTP
#OAUTHLIB_INSECURE_TRANSPORT=True

#Local Tileserver config
TILESERVER_OUTBOUND_PROXY={{ proxy_env.https_proxy }}