{% extends "views/components/widgets/base.htm" %}
{% load i18n %}

{% block display_value %}
<div>
    <dt>Address</dt>
    <dd>
        <!-- ko let: {addressPart: streetAddress()} -->
    <span data-bind="component: {
                                            name: addressPart.widgetLookup[addressPart.widget_id()].name,
                                            params: {
                                                tile: tile(),
                                                node: addressPart.node,
                                                config: addressPart.config,
                                                label: addressPart.label(),
                                                value: tile().data[addressPart.attributes.node_id()],
                                                state: 'display_value',
                                            }
                                        }, click: function(){console.log(card);}">
    </span>
        <!-- /ko -->
        <!-- ko let: {addressPart: city()} -->
        <span data-bind="visible: (!!ko.unwrap(tile().data[city().attributes.node_id()]) && !!ko.unwrap(tile().data[province().attributes.node_id()]))">,</span>
        <span data-bind="component: {
                                            name: addressPart.widgetLookup[addressPart.widget_id()].name,
                                            params: {
                                                tile: tile(),
                                                node: addressPart.node,
                                                config: addressPart.config,
                                                label: addressPart.label(),
                                                value: tile().data[addressPart.attributes.node_id()],
                                                state: 'display_value',
                                            }
                                        }, click: function(){console.log(card);}"></span>
        <!-- /ko -->
    </dd>
</div>
<div>
    <dt>Province</dt>
    <!-- ko let: {addressPart: province()} -->
    <dd data-bind="component: {
                                            name: addressPart.widgetLookup[addressPart.widget_id()].name,
                                            params: {
                                                tile: tile(),
                                                node: addressPart.node,
                                                config: addressPart.config,
                                                label: addressPart.label(),
                                                value: tile().data[addressPart.attributes.node_id()],
                                                state: 'display_value',
                                            }
                                        }, click: function(){console.log(card);}">
    </dd>
    <!-- /ko -->
</div>
<div>
    <dt>Postal Code</dt>
    <!-- ko let: {addressPart: postal_code()} -->
    <dd data-bind="component: {
                                            name: addressPart.widgetLookup[addressPart.widget_id()].name,
                                            params: {
                                                tile: tile(),
                                                node: addressPart.node,
                                                config: addressPart.config,
                                                label: addressPart.label(),
                                                value: tile().data[addressPart.attributes.node_id()],
                                                state: 'display_value',
                                            }
                                        }, click: function(){console.log(card);}">
    </dd>
    <!-- /ko -->
</div>
<div>
    <dt>Locality</dt>
    <!-- ko let: {addressPart: locality()} -->
    <dd data-bind="component: {
                                            name: addressPart.widgetLookup[addressPart.widget_id()].name,
                                            params: {
                                                tile: tile(),
                                                node: addressPart.node,
                                                config: addressPart.config,
                                                label: addressPart.label(),
                                                value: tile().data[addressPart.attributes.node_id()],
                                                state: 'display_value',
                                            }
                                        }, click: function(){console.log(card);}">
    </dd>
    <!-- /ko -->
</div>
<div>
    <dt>Location Description</dt>
    <!-- ko let: {addressPart: location_description()} -->
    <dd data-bind="component: {
                                            name: addressPart.widgetLookup[addressPart.widget_id()].name,
                                            params: {
                                                tile: tile(),
                                                node: addressPart.node,
                                                config: addressPart.config,
                                                label: addressPart.label(),
                                                value: tile().data[addressPart.attributes.node_id()],
                                                state: 'display_value',
                                                displayfullvalue: true
                                            }
                                        }">
    </dd>
    <!-- /ko -->
</div>
{% endblock display_value %}
